html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after{
  box-sizing:inherit ;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #222;
  color: #222;
}

img{
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container{
 width: 100%;
 max-width: 1200px;
 padding-left: 50px;
 padding-right: 50px;
 margin-left: auto;
 margin-right: auto;
}


/* MAIN-CONTENT */
.main-content{
  flex-grow:1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-settings {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 217, 0, 0.863);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2);
}
.profile-settings-inner {
}
.pofile-settings-header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.profile-setting-headig {
  margin: 0;
  font-size: 20px;
  margin-bottom: 20px;

}
.profile-setting-close-link {
  display: flex;
}
.profile-settings-form-body {
   background-color: #fff;
   position: relative;
   left: 40px;
   padding: 50px 30px;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2)
}
.profile-settings-avatar{
  width: 60px;
  position: absolute;
  left: 30px;
  top: 0;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  transform: translateY(-50%);
}

.profile-settings-form-row{
  display: flex;
}

.profile-settings-form-row:not(:last-child){
  margin-bottom: 24px;
}


.profile-settings-form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-settings-form-group:not(:last-child){
  margin-bottom:24px;
}

.profile-settings-form-row .profile-settings-form-group{
  margin-bottom: 0;
  width: 50%;
}
.profile-settings-form-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #6666;

}
.profile-settings-form-fields {
  width: 100%;
  display: block;
  border: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #555;
}
.profile-settings-form-field-textarea {
  resize: vertical;
  min-height: 100px;
}
.profile-settings-form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 40px;
}
.profile-settings-form-action {
  padding: 0;
  border:0;
  background-color: transparent;
  cursor: pointer;
  color: #222;
}

.profile-settings-form-action:not(:last-child){
  margin-right: 40px;
}